.home{
    display: flex;
    height: 100vh;
}
.list{
    width: 40%;
    background-color: blue;
    overflow-y: auto;
}
.highlighter{
    width: 60%;
    padding: 20px;
    background-color: #fff;
}